target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
!/.idea/icon.png
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.claude/

### Mac OS ###
.DS_Store
CLAUDE.md
docker
docker-compose.yml
OPTIMIZATION.md
OPTIMIZATION/
JWT_IMPLEMENTATION.md
skywalking-agent/

### Logs ###
logs/

### Benchmark Reports ###
report/

### JWT Keys ###
admin/src/main/resources/keys/private.pem
gateway/src/main/resources/keys/public.pem
